@font-face {
	font-family: "Inter Regular";
	src: url("/fonts/InterRegular.ttf");
}

@font-face {
	font-family: "Inter Medium";
	src: url("/fonts/InterMedium.ttf");
}

@font-face {
	font-family: "Inter Light";
	src: url("/fonts/InterLight.ttf");
}
