---
import { axios } from "../pages/index.astro";

const token = import.meta.env.GITHUB_TOKEN;
interface Project {
    name?: string;
    description?: string;
    html_url?: string;
}
async function fetchProjects() {
    let response = await axios.get(
        `https://api.github.com/user/repos?type=public`,
        {
            id: "github",
            cache: {
                ttl: 1000 * 60 * 60 * 6, // 6 hours
            },
            headers: {
                Authorization: "Bearer " + token,
            },
        },
    );
    if (typeof response.data == "object") {
        let projects: Project[] = response.data;
        return projects;
    }
    throw new Error('Failed to obtain public github repos')
}
let projects: Project[] = [];
let isSuccess: boolean;

try {
    projects = await fetchProjects();
    isSuccess = true;
} catch {
    isSuccess = false;
}
---
{isSuccess && <h2><strong>Projects</strong></h2>
    <div class="projects__list">
        {
            projects.map((project) => (
                <div class="projects__project">
                    <a href={project.html_url}>{project.name}</a>
                    <p>{project.description}</p>
                </div>
            ))
        }
    </div>
}

</div>

