---
import "../styles/global.css"
import "../styles/fonts.css"

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- meta -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:site_name" content="Agrofx" />
		<meta property="og:url" content="https://agrofx.net/" />
		<meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
		<!-- style -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<footer>
		<hr>
		<div class="footer__content">
			<h4>Agrofx</h4>
			<div class="footer__icons">

			</div>
		</div>
	</footer>
</html>